<html>

<head>
    <title>Hello World</title>
</head>

<body>

<table border="0" cellspacing="0" cellpadding="0" width="95%" height="100%" align="center">
        
<tr height="15%" align="center">
<td colspan="2" width="70%">
<h1> Office Foodies </h1>
</td>
<td colspan="1">
<h3> Logout </h3>

<h4> Logged in as Rahim (SuperAdmin) </h4>
</td>

</tr>

<tr align="center">
<td colspan="1" width="20%">

<h3>Links: </h3>

<ul>
<li> <a href="office_list">Office List</a> </li>
<li> <a href="vendor_list">Vendor List</a> </li>
<li> <a href="transaction_history">Transaction History</a> </li>
</ul>
</td>
<td colspan="2">
