<html>

<head>
    <title>Hello World</title>
</head>

<body>

<table border="0" cellspacing="0" cellpadding="0" width="95%" height="100%" align="center">
        
<tr height="15%" align="center">
<td colspan="2" width="70%">
<h1> Office Foodies </h1>
</td>
<td colspan="1">
<h3>  </h3>

<h4> Welcome </h4>
</td>

</tr>

<tr align="center">
<td colspan="1" width="20%">

<h3>Links: </h3>

<ul>
<li> <a href="home">Home</a> </li>
<li> <a href="registration">Register</a> </li>
<li> <a href="login">Login</a> </li>
</ul>
</td>
<td colspan="2">
